# Unity auto folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDE folder
.vscode/
.idea/
.vs/

# Project files 
*.csproj
*.sln
*.unityproj
*.user
*.pidb

# System files
.DS_Store
Thumbs.db

# Temporery and backup files
*.bak
*.tmp
*.old
*.log

#Unity version changes 
UpgradeLog.htm
